<h1>Task:<strong> <%= @task.title %> </strong> </h1>

<h2> <%= @task.completed%> Description:</h2>
<p> <%= @task.details%></p>

<%= link_to "Back", tasks_path%>

<%= link_to "Edit Task", edit_task_path(@task) %>

<%= link_to "Delete", task_path(@task), data: {method: :delete}%>
